body{
  margin: 0;
}
.app{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #555;
  color:white;
  padding: 15px;
}

.content{
  padding: 15px;
}
